*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background: url(./img/sky.jpg) center/cover;
}

.tchatContainer{
  height: 90%;
}

ul{
  list-style-type: none;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

input[type="text"] {
  width: 80%;
  height: 50px;
}
.tchat-container{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.tchat {
  border: 1px solid black;
  height: 80%;
  width: 80%;
  background: rgba(128, 128, 128, 0.568);
  box-shadow: 2px 2px 3px;
  overflow-y: scroll;

}


.entries{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px !important;
}
.mark{
padding:0.1em !important;
background-color: #0d6efd !important;
border-radius: 10px;
}

.logo{
  position: relative;
}


.logo-img{
  border-radius: 50px;
  width: 25%;
  height: 90px;
}

.logo-text{
  position: absolute;
  background: rgba(0, 0, 0, 0.384);
  height: 70%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

h1{
  font-size: 1.5rem;
  color: white;
  letter-spacing: 5px;
  
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash .fas {
  font-size: 2rem;
  color: #0d6efd;
}

.trash .fas:hover{
  cursor: pointer;
}

@media (max-width:576px) {
  .logo-img{
    width: 40%;
  }
  .tchat{
    width: 90%;
  }
}

